# Dependencies
node_modules/
.pnpm-store/

# Production & Build
dist/
build/
out/

# Environment Variables
.env
.env.*
!.env.example
!.env.test

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Testing
coverage/
*.lcov

# IDE & System
.DS_Store
Thumbs.db
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln

# Temporary
tmp/
.cache/
.temp/

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo

# Prisma
apps/api/prisma/migrations/migration_lock.toml

# NestJS / SWC
.nest/

# Vite
*.local
dist-ssr/

# OS
.Spotlight-V100
.Trashes
ehthumbs.db
Desktop.ini
