# Dependencies
node_modules/

# Production & Build
dist/

# Environment Variables
.env
.env.*
!.env.example

# Logs
*.log

# Testing
coverage/

# Prisma
/prisma/migrations/migration_lock.toml

# NestJS
*.tsbuildinfo